.cursor-pointer {
    cursor: pointer;
}

.font-weight-bold {
    font-weight: bold;
}

.w-90 {
    width: 90%;
}

.w-100 {
    width: 100%;
}

.mw-100 {
    max-width: 100%;
}

.h-100 {
    height: 100%;
}

.h-94 {
    height: 94%;
}

.border-0 {
    border: 0;
}

.text-uppercase {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: inherit;
}

h3 {
    @media(max-width: 776px) {
        font-size: 12px;
        margin: 4px 0;
    }
}